body {
    margin: 0;
    font-family: Arial, sans-serif;
}
  
  /* Header Styles */
header {
    background-color: paleturquoise;
    color: rgb(247, 13, 13);
    display: flex;
    align-items: left;
    justify-content: left;
    padding: 10px 20px;
}
  
header .logo img {
    width: 50px;
    height: 50px;
}
  
header h1 {
    font-size: 1.5rem;
    padding-left: 500px;
    align-items: center;
    justify-content: center;
    
}
  
header nav ul {
    list-style: none;
    justify-content: left;
    display: flex;
    padding-left: 390px;
}
  
header nav ul li {
    margin-left: 100px;
}
  
header nav ul li a {
    color: green;
    text-decoration: none;
    font-size: 1rem;
}
  
header nav ul li a:hover {
    text-decoration: underline;
}
  /* Footer */
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
  
  /* Home */
.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: white;
}
.login-box {
    background: goldenrod;
    color: white;
    padding: 20px;
    border-radius: 10px;
}
  
  /* Ration Items */
.ration-container {
    padding: 20px;
    text-align: center;
}
  
.item-box {
    background: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    display: inline-block;
}
  
  /* Bill */
.bill-container {
    text-align: center;
}
  
.receipt-box {
    background: goldenrod;
    color: black;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
}


  /* Info Pages */
.info-page {
    padding: 20px;
    text-align: center;
}
  